*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(20, 17, 17);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
}

.waving-hand,.foot-img {
    height: 40px;
}

header>nav,ul{
    float:right;
    margin: 6px;
}
a{
    text-decoration: none;
    color:white;
    padding:5px;
    cursor: pointer;
    border-radius: 20px;
}
a:hover{
    background-color: rgb(59, 107, 122);
}
/* b:hover{
    background-color: rgb(59, 107, 122);
} */
.hero{
    display:flex;
    justify-content: center;
    align-items: center;
}

.pcimg{
    height: 20rem;
    width:20rem;
}
span{
    color:grey;

}
.mid-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
}
.blue-heading{
    font-size:50px;
    border-bottom:8px solid blue ;
}
.box-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 10px;
    /* border: 2px solid white; */
}
.project-img{
    /* height:12rem; */
   width:12rem;
}
.container{
    display: flex;
    justify-content: center;
    max-width: 550px;
    flex-wrap: wrap;
}

.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.foot-img ,.foot-imgs{
    padding: 5px;
}
        .hambrger{
            display: none;
        }
@media only screen and (max-width:500px){
    .hero{
        display: flex;
        flex-direction: column;
    }
    }
@media only screen and (max-width:500px){
header,.hambrger{
display:block;
height: 20px;
width: 25px;
padding-left: 5px;
margin: 5px;
}
.contain{
    display: none;
}
}
